body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(6, 1, 56);
	color: white;
	margin: 0%;
	text-align: justify;
}
header{
border-bottom: 3px solid rgb(0, 255, 0);
cursor: pointer;
background-color: rgb(9, 0, 37);
color: white;
padding: 10px;
font-family: Brush Script MT;
text-align: left;
font-size: 30px;
font-style: italic;
margin: 0%;
}
.texto-movil:hover{
	display: inline-block;
    animation: zoom 100ms linear forwards;
	transform-origin: left;
}
@keyframes zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
main{
	text-size-adjust: calc();
	text-align: justify;
}
img{
	display: block;
	margin: 0 auto;
	width: 500px;
	height: auto;
}
footer{
	background-color: rgb(1, 1, 50);
	color: white;
	text-align: center;
	padding: 5px;
}
a:hover{
	color: red;
	cursor: pointer;
}
.contenido{
	max-width: 1300px;
	margin: 0 auto;
	padding: 20px;
}
strong{
	font-size: 18px;
}